<mat-card>
  <mat-card-header>
    <mat-card-title>Posts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let post of posts">
        <div class="component-page-content">
          <div class="left-item">
            <a [routerLink]="['/dashboard/post/', post.id, 'detail']">{{post.title}}</a>
            <p>{{post.content}}</p>
          </div>
          <div class="right-item post-image">
            <img src="{{backendroute}}{{this.post.image}}">
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/dashboard/post/add']">Add</button>
  </mat-card-actions>
</mat-card>
