<!--
<button type="button" mat-button (click)="drawer.toggle()">
  Toggle sidenav
</button>
-->

<mat-drawer-container class="sidenav-container">
  <div class="sidenav-content">
    <ul>
      <li>
        <a [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['post']">Post</a>
      </li>
      <li>
        <a [routerLink]="['format']">Format</a>
      </li>
      <li>
        <a [routerLink]="['topic']">Topic</a>
      </li>
    </ul>
  </div>
</mat-drawer-container>

