<section>
  <div class="page-container">
    <div class="container">
      <div>
        <h1>OOPSIE WOOPSIE!! ÛwÛ We made a fucky wucky!! A witte fucko boingo</h1>
      </div>
      <div class="progress">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div>
        <h2>The cute little meowkeys at our magic station are working VEWY HAWD to fix this.</h2>
      </div>
      <div class="heart-icon">
        <i class="fas fa-heart"></i>
      </div>
    </div>
  </div>
</section>
