.example-container {
  width: 500px;
  height: 100vh;
}

.example-sidenav-content {
  display: flex;
  flex-flow: row wrap;
  height: 10%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 100%;
}
