<mat-card>
  <mat-card-header>
    <mat-card-title>Topic</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let topic of topics">
        <div class="component-page-content">
          <div class="left-item">
            <a [routerLink]="['/dashboard/topic', this.topic.id, 'detail']">{{topic.name}}</a>
            <p>{{topic.description}}</p>
          </div>
          <div class="right-item topic-image">
            <img src="{{backendroute}}{{this.topic.image}}">
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/dashboard/topic/add']">Add</button>
  </mat-card-actions>
</mat-card>
