<mat-card *ngIf="webhook">
  <mat-card-header>
    <mat-card-title>{{this.webhook.url}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="left-item">
      <p>
        {{this.webhook.url}}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/dashboard/webhook', this.webhook.id, 'edit']">Edit</button>
    <button class="delete-button" mat-raised-button (click)="delete(this.webhook.id, this.webhook.url)">Delete</button>
  </mat-card-actions>
</mat-card>
