<mat-card *ngIf="post">
  <mat-card-header>
    <mat-card-title>{{this.post.title}} <b>created by {{this.creator.name}} and got edited by {{this.editor.name}} at {{this.post.updated_at}}</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{this.post.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/dashboard/post', this.post.id, 'edit']">Edit</button>
    <button class="delete-button" mat-raised-button (click)="delete(this.post.id, this.post.title)">Delete</button>
  </mat-card-actions>
</mat-card>
