<mat-card *ngIf="post">
  <mat-card-header>
    <mat-card-title>{{this.post.title}} <b>created by {{this.creator.name}} and got edited by {{this.editor.name}} at {{this.post.updated_at}}</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="left-item">
    <p>
      Content: {{this.post.content}}
    </p>
    </div>
    <div class="right-item post-image">
      <img src="{{backendroute}}{{this.post.image}}">
    </div>
    <div class="left-item">
      <p>
        Introduction: {{this.post.introduction}}
      </p>
    </div>
    <div class="left-item">
      <p>Format: {{this.format.name}}</p>
    </div>
    <div class="left-item">
      <span>Topics: </span>
      <ul>
        <li *ngFor="let topic of this.topics" [value]="topic">
          {{topic.name}}
        </li>
      </ul>
    </div>
    <div class="left-item">
      <span>Tags: </span>
      <ul>
        <li *ngFor="let tag of this.tags" [value]="tag">
          {{tag.name}}
        </li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/dashboard/post', this.post.id, 'edit']">Edit</button>
    <button class="delete-button" mat-raised-button (click)="delete(this.post.id, this.post.title)">Delete</button>
  </mat-card-actions>
</mat-card>
