/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
  margin:0;
}

.component-page-content {
  display: flex;
  flex-flow: row wrap;
}

.left-item {
  flex: 1 20%;
}
.right-item {
  flex: 1 80%;
}

div form .form-field {
  display:block
}

div form cancel-button {
  display:block;
  margin-top: 5vh;
}

div form .save-button {
  background-color:green;
}
